@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

:root {
  --primario: #0046c0;
  --claro: #4070f4;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}


/* Scroll bar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: var(--claro);
    border-radius: 12px;
    transition: all 0.3s ease;
}


::-webkit-scrollbar-thumb:hover {
    background: var(--primario);
}

/* Nav bar */
nav {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  z-index: 998;
  transition: all 0.3s ease;
  font-family: 'Ubuntu', sans-serif;
}

nav.sticky {
  background: var(--primario);
  padding: 13px 0;
}

nav.sticky:hover {
  background: #00208f;
}

nav .navbar {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

nav .navbar .logo a {
  font-weight: 500;
  font-size: 35px;
  color: var(--primario);
}

nav.sticky .navbar .logo a {
  color: #fff;
}

nav .navbar .menu {
  display: flex;
  position: relative;
}

nav .navbar .menu li {
  list-style: none;
  margin: 0 8px;
}

.navbar .menu a {
  font-size: 18px;
  font-weight: 500;
  color: #0E2431;
  padding: 6px 0;
  transition: all 0.4s ease;
}

.navbar .menu a:hover {
  color: var(--primario);
}

nav.sticky .menu a {
  color: #FFF;
}

nav.sticky .menu a:hover {
  color: #0E2431;
}

.navbar .media-icons a {
  color: var(--primario);
  font-size: 18px;
  margin: 0 6px;
}

nav.sticky .media-icons a {
  color: #FFF;
}

#language-toggle {
  text-decoration: none; /* Sin subrayado */
  transition: color 0.3s; /* Transición suave para el color */
}

#language-toggle:hover {
  color: #007BFF; /* Cambia el color al pasar el mouse, ajusta según tu diseño */
}


/* Boton menu */
nav .menu-btn,
.navbar .menu .cancel-btn {
  position: absolute;
  color: #fff;
  right: 30px;
  top: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: none;
}

nav .menu-btn {
  color: var(--primario);
}

nav.sticky .menu-btn {
  color: #FFF;
}

.navbar .menu .menu-btn {
  color: #fff;
}

.home .text:hover, span:hover, p:hover, .topic:hover {
  cursor: context-menu;
}

/* Inicio */
.home {
  height: 100vh;
  width: 100%;
  background: url("images/background.png") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Ubuntu', sans-serif;
}

.home .home-content {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home .text-one {
  font-size: 25px;
  color: #0E2431;
}

.home .text-two {
  color: #0E2431;
  font-size: 75px;
  font-weight: 600;
  margin-left: -3px;
}

.home .text-three {
  font-size: 40px;
  margin: 5px 0;
  color: var(--primario);
}

.home .text-four {
  font-size: 23px;
  margin: 5px 0;
  color: #0E2431;
}

.home .button {
  margin: 14px 0;
}

.home .button button {
  outline: none;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 25px;
  font-weight: 400;
  background: var(--primario);
  color: #fff;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.4s ease;
  min-width: auto;
  justify-self: left;
}

.home .button button:hover {
  border-color: var(--primario);
  background-color: #fff;
  color: var(--primario);
}

a.btn-home-contact {
  color: white;
}

.home .button button:hover a.btn-home-contact {
  color: var(--primario);
}

/* Sobre mi */
section#about.about {
  background: #F0F8FF;
  padding-bottom: 1%;
}

section {
  padding-top: 20px;
}

section .content {
  width: 80%;
  margin: 40px auto;
  font-family: 'Poppins', sans-serif;
}

.about .about-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section .title {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  padding-top: 3%;
}

section .title span {
  color: #0E2431;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 8px;
}

section .title span::before,
section .title span::after {
  content: '';
  position: absolute;
  height: 3px;
  width: 100%;
  background: var(--primario);
  left: 0;
  bottom: 0;
}

section .title span::after {
  bottom: -7px;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
}

.about .about-details .left {
  width: 45%;
}

.about .left img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 12px;
}

.about-details .right {
  width: 55%;
}

section  .topic {
  color: #0E2431;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}

.about-details .right p {
  text-align: justify;
  color: #0E2431;
}

section .button {
  margin: 16px 0;
}

section .button button {
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 25px;
  font-weight: 400;
  background: var(--primario);
  color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 30%;
}

section .button button:hover {
  border-color: var(--primario);
  background-color: #fff;
  color: var(--primario);
}


/* Conocimientos */
.services .boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services .boxes .box {
  margin: 20px 0;
  margin-bottom: auto;
  width: calc(100% / 4 - 15px);
  text-align: center;
  border-radius: 12px;
  padding: 30px 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  cursor: default;
  transition: all 0.4s ease;
}

.services .boxes .box:hover {
  background: var(--primario);
  color: #fff;
}

.services .boxes .box .icon {
  height: 50px;
  width: 50px;
  background: var(--primario);
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 18px;
  color: #fff;
  margin: 0 auto 10px auto;
  transition: all 0.4s ease;
}

.boxes .box:hover .icon {
  background-color: #fff;
  color: var(--primario);
}

.services .boxes .box:hover .topic,
.services .boxes .box:hover p {
  color: #0E2431;
  transition: all 0.4s ease;
}

.services .boxes .box:hover .topic,
.services .boxes .box:hover p {
  color: #fff;
}

/* Contacto */
.contact {
  background: #F0F8FF;
}

.contact .content {
  margin: 0 auto;
  padding: 30px 0;
}

.contact .text {
  width: 80%;
  text-align: center;
  margin: auto;
}

button:hover {
  cursor: pointer
}

button {
  background: transparent; outline: none;
  position: relative;
  border: 2px solid #111;
  padding: 15px 50px;
  overflow: hidden;
}
/*button:before (attr data-hover)*/
button:hover:before {
  opacity: 1;
  transform: translate(0,0);
}

button:before {
  content: attr(data-hover);
  position: absolute;
  top: 1.1em;
  left: 0;
  width: 100%;
  letter-spacing: 3px;
  font-weight: 400;
  font-size: .5em;
  opacity: 0;
  transform: translate(-100%,0);
  transition: all .3s ease-in-out;
}

/*button div (button text before hover)*/
button:hover div {
  opacity: 0;
  transform: translate(100%,0);
}

button div {
  letter-spacing: 3px;
  font-weight: 400;
  font-size: .8em;
  transition: all .3s ease-in-out;
}

/* Footer */
footer {
  background: var(--primario);
  padding: 15px 0;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

footer .text span {
  font-size: 17px;
  font-weight: 400;
  color: #fff;
}

footer .text span a {
  font-weight: 500;
  color: #FFF;
}

footer .text span a:hover {
  text-decoration: underline;
}

/* Boton scroll top */
.scroll-button a {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  background: var(--primario);
  padding: 7px 12px;;
  font-size: 18px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.15);
  display: none;
}


/* Responsive */
@media (max-width: 1190px) {
  section .content {
    width: 85%;
  }
}

@media (max-width: 1100px) {
.about-details .right {
  width: 90%;
  margin: 30px;
}
}

@media (max-width: 1000px) {
  .home {
    background-image: url(images/background-responsive.png);
  }
  .about .about-details {
    justify-content: center;
    flex-direction: column;
  }
  .about .about-details .left {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .about-details .right {
    width: 90%;
    margin: 40px 0;
  }
  .services .boxes .box {
    margin: 20px 0;
    width: calc(100% / 2 - 20px);
  }
  div .button {
    display: inline-grid;
    width: 100%;
    justify-items: center;
  }
  button {
    margin-bottom: 2%;
    min-width: -webkit-fill-available;
  }
}

@media (max-width: 900px) {
  .about .left img {
    height: 350px;
    width: 350px;
  }
  .home .button button {
    width: 10em;
  }
}

@media (max-width: 750px) {
  nav .navbar {
    width: 90%;
  }
  nav .navbar .menu {
    position: fixed;
    left: -100%;
    top: 0;
    background: #0E2431;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    padding-top: 60px;
    flex-direction: column;
    align-items: center;
    transition: all 0.5s ease;
  }
  .navbar.active .menu {
    left: 0;
  }
  nav .navbar .menu a {
    font-size: 23px;
    display: block;
    color: #fff;
    margin: 10px 0;
  }
  nav.sticky .menu a:hover {
    color: var(--primario);
  }
  nav .navbar .media-icons {
    display: none;
  }
  nav .menu-btn,
  .navbar .menu .cancel-btn {
    display: block;
  }
  .home .text-two {
    font-size: 65px;
  }
  .home .text-three {
    font-size: 35px;
  }
  .skills .skills-details {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .skills-details .text {
    width: 100%;
    margin-bottom: 50px;
  }
  .skills-details .boxes {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .services .boxes .box {
    margin: 20px 0;
    width: 100%;
  }
  .contact .text {
    width: 100%;
}
}


@media (max-width: 500px) {
  .home .text-two {
    font-size: 55px;
  }
  .home .text-three {
    font-size: 33px;
  }
  .skills-details .boxes .per {
    font-size: 50px;
    color: var(--primario);
  }
  .about .left img {
    height: 250px;
    width: 250px;
  }
}